/* smart phones & tablets */

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #e41b17;
    color: #fff;
    padding-left: 30px
  }
  .subscribe .form-control {
    margin: 20px auto;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom
  .navbar-collapse {
    max-height: none;
  }
  .footer .img-thumbnail {
    width: 45%
  }
  .thum {
    text-align: center;
  }
}

/* small screens */

@media (min-width: 768px) {
  .subscribe .form-control {
    width:600px;
    margin: 20px auto;
    display: block;
  }

}

/* medium screens */

@media (min-width: 992) {
  .subscribe .form-control {
    min-width:600px
  }

}

/* larg screens */

@media (min-width: 1200px) {
  .subscribe .form-control {
    min-width:600px
  }

}
